<div xmlns:th="http://www.thymeleaf.org">
    <form name="signInForm" action="#" th:action="@{signin}" method="post">
        <label><strong th:text="#{signin.content.signInForm.email.label}">Email:</strong></label>
        <input type="email" name="email" value="t@t.t" required="true"/>

        <label><strong th:text="#{signin.content.signInForm.password.label}">Password:</strong></label>
        <input type="password" name="token" value="1" required="true"/>

        <input type="submit" name="submit" th:value="#{signin.content.signInForm.submit}" value="Send"/>
    </form>
    <a th:text="#{signin.content.facebook.signin.link.text}" th:href="@{facebook_auth}">Facebook Sign In</a>
    <a th:text="#{signin.content.signup.link.text}" th:href="@{signup}">Sign Up</a>
</div>